<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock App</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <h1>Server time:</h1>
    {% if current_time %}
    <h1>{{ current_time }}</h1>
    {% else %}
    <h1>No data send by server.</h1>
    {% endif %}
</body>

</html>