<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of User</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>User Data:</h1>
    {% if user_list %}
    <table>
        <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
        {% for user in user_list %}
        <tr>
            <td>{{ user.fullname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.address }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>Data Not Found.</h1>
    {% endif %}
</body>

</html>